.git
.github

.idea
.vscode

bootstrap/cache/*.php

storage/app/*
storage/debugbar/*
storage/framework/*
storage/logs/*

node_modules
public/build
tests
vendor
.editorconfig
.env
.env.example
.gitattributes
.gitignore
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
CHANGELOG.md
docker-compose.yml
phpunit.xml
pint.json
README.md
