{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "wrapAttributes": "force-expand-multiline",
    "sortHtmlAttributes": "code-guide",
    "sortTailwindcssClasses": true,
    "plugins": [
        "@shufo/prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade",
                "tabWidth": 2
            }
        }
    ]
}
