// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// laravel pagination
.pagination {
    justify-content: center;
}

// universal
body {
    font-family: Helvetica, "Noto Sans TC", Arial, sans-serif;
    font-size: 16px;
    background-image: linear-gradient(
        120deg,
        #74ebd5 0%,
        #57c6e1 50%,
        #009efd 100%
    );
}

// header
.navbar-static-top {
    border-top: 5px solid #009efd;
    margin-bottom: 40px;
    margin-top: 0px;
}

// sticky footer styles
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    // set the fixed height of the footer here
    min-height: 50px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

// post index page
.post-index-page {
    .post-list {
        hr {
            margin-top: 12px;
            margin-bottom: 12px;
            border: 0;
            border-top: 1px solid #dcebf5;
        }
    }
}

// tag background color
.bgi-gradient {
    background-image: linear-gradient(120deg, #04befe 0%, #4481eb 100%);
}

.badge-lg {
    font-size: 0.9rem;
}

// bootstrap form-control
.form-control {
    font-size: 1em;
}

// add container and footer space
#app > div.container {
    margin-bottom: 100px;
    min-height: 100vh;
}

.post-show-page {
    .card {
        padding: 15px;
    }
}

// notification
.notification-badge {
    .badge {
        font-size: 12px;
        margin-top: 14px;
    }

    .badge-secondary {
        background-color: #ebe8e8;
    }

    .badge-hint {
        background-color: #d15b47 !important;
    }
}
