// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// universal
body {
    font-family: Helvetica, "Noto Sans TC", Arial, sans-serif;
    font-size: 16px;
    background-image: linear-gradient(
        120deg,
        #74ebd5 0%,
        #57c6e1 50%,
        #009efd 100%
    );
}

// header
.navbar-border-top {
    border-top: 5px solid #009efd;
}

.w-15 {
    width: 15% !important;
}

.w-70 {
    width: 70% !important;
}

// // sticky footer styles
// html {
//     position: relative;
//     min-height: 100%;
// }

// .set-to-bottom {
//     position: absolute;
//     bottom: 0;
// }

// // post index page
// .post-index-page {
//     .post-list {
//         hr {
//             margin-top: 12px;
//             margin-bottom: 12px;
//             border: 0;
//             border-top: 1px solid #dcebf5;
//         }
//     }
// }

// .badge-lg {
//     font-size: 0.9rem;
// }

// // bootstrap form-control
// .form-control {
//     font-size: 1em;
// }

// // add container and footer space
// #app > div.container {
//     margin-bottom: 100px;
//     min-height: 100vh;
// }

// .post-show-page {
//     .card {
//         padding: 15px;
//     }
// }

// // notification
// .notification-badge {
//     .badge {
//         font-size: 12px;
//         margin-top: 14px;
//     }

//     .badge-secondary {
//         background-color: #ebe8e8;
//     }

//     .badge-hint {
//         background-color: #d15b47 !important;
//     }
// }
