.aa-hint {
    color: #e4e4e4;
}
.aa-dropdown-menu {
    background-color: #fff;
    border: 2px solid rgba(50, 50, 50, 0.6);
    width: 500px;
    margin-top: 10px;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}
.aa-suggestion {
    padding: 6px 12px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
    background-color: rgba(200, 200, 200, 0.35);
}
.aa-suggestion > span em {
    font-weight: 700;
    font-style: normal;
    background-color: rgba(58, 150, 207, 0.1);
    padding: 2px 0 2px 2px;
}
