.aa-input-container {
    display: inline-block;
    position: relative;
}
.aa-input-search {
    width: 200px;
    padding: 5px 28px 5px 5px;
    border: 2px solid #e4e4e4;
    border-radius: 4px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 16px;
    box-sizing: border-box;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
    display: none;
}
.aa-input-search:focus {
    outline: 0;
    border-color: #3a96cf;
    box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1);
}
.aa-input-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: #e4e4e4;
    pointer-events: none;
}
.aa-hint {
    color: #e4e4e4;
}
.aa-dropdown-menu {
    background-color: #fff;
    border: 2px solid rgba(50, 50, 50, 0.6);
    border-top-width: 0;
    width: 500px;
    margin-top: 10px;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}
.aa-suggestion {
    padding: 6px 12px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
    background-color: rgba(200, 200, 200, 0.35);
}
.aa-suggestions-category {
    text-transform: uppercase;
    border-bottom: 2px solid rgba(50, 50, 50, 0.6);
    border-top: 2px solid rgba(50, 50, 50, 0.6);
    padding: 6px 12px;
    color: #333;
}
.aa-suggestion > span em {
    font-weight: 700;
    font-style: normal;
    background-color: rgba(58, 150, 207, 0.1);
    padding: 2px 0 2px 2px;
}
