@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .group-gradient-underline-grow {
        @apply bg-gradient-to-r from-green-500 via-teal-500 to-sky-500 dark:from-pink-500 dark:via-purple-500 dark:to-indigo-500 bg-[length:0_3px] bg-left-bottom bg-no-repeat transition-all duration-200 ease-in group-hover:bg-[length:100%_3px];
    }

    .gradient-underline-grow {
        @apply bg-gradient-to-r from-green-500 via-teal-500 to-sky-500 dark:from-pink-500 dark:via-purple-500 dark:to-indigo-500 bg-[length:0_3px] bg-left-bottom bg-no-repeat transition-all duration-200 ease-in hover:bg-[length:100%_3px];
    }

    .post-body {
        @apply prose text-lg max-w-none prose-slate dark:prose-invert leading-8
            /* headings */
        prose-headings:text-green-600 dark:prose-headings:text-lividus-500
        prose-h2:border-b-2 prose-h2:border-slate-300 dark:prose-h2:border-slate-500 prose-h2:mb-4 prose-h2:pb-4 prose-h2:border-solid
            /* links */
        prose-a:no-underline hover:prose-a:underline prose-a:text-green-600 hover:prose-a:text-green-700
        dark:prose-a:text-lividus-400 dark:hover:prose-a:text-lividus-300
            /* lists */
        prose-li:marker:text-gray-500 dark:prose-li:marker:text-gray-400
            /* figure */
        prose-figure:table prose-figure:mx-auto
            /* image */
        prose-img:w-full prose-img:rounded-md
            /* figcaption */
        prose-figcaption:table-caption prose-figcaption:[caption-side:bottom] prose-figcaption:break-words
        prose-figcaption:rounded-md prose-figcaption:p-1.5 prose-figcaption:text-center prose-figcaption:bg-slate-200
        dark:prose-figcaption:bg-slate-500 dark:prose-figcaption:text-slate-100
            /* horizontal line */
        prose-hr:my-3 prose-hr:h-1 prose-hr:border-none prose-hr:bg-slate-300 dark:prose-hr:bg-slate-500
            /* code */
        prose-code:before:content-none prose-code:after:content-none prose-code:font-jetbrains-mono
            /* pre */
        prose-pre:p-0 prose-pre:rounded-lg prose-pre:text-lg
            /* blockquote */
        prose-blockquote:border-slate-300 prose-blockquote:text-slate-500
        dark:prose-blockquote:border-slate-600 dark:prose-blockquote:text-slate-400;
    }

    /* ckeditor5-font/theme/fontsize.css */
    .post-body .text-tiny {
        @apply text-xs;
    }

    .post-body .text-big {
        @apply text-2xl;
    }

    .comment-body {
        @apply prose text-lg max-w-none prose-slate dark:prose-invert leading-8
            /* links */
        prose-a:no-underline hover:prose-a:underline prose-a:text-green-600 hover:prose-a:text-green-700
        dark:prose-a:text-lividus-400 dark:hover:prose-a:text-lividus-300
            /* lists */
        prose-li:marker:text-gray-500 dark:prose-li:marker:text-gray-400
            /* image */
        prose-img:w-full prose-img:rounded-md
            /* horizontal line */
        prose-hr:my-3 prose-hr:h-1 prose-hr:border-none prose-hr:bg-slate-300 dark:prose-hr:bg-slate-500
            /* code */
        prose-code:before:content-none prose-code:after:content-none prose-code:font-jetbrains-mono
            /* pre */
        prose-pre:p-0 prose-pre:rounded-lg prose-pre:text-lg;
    }
}

/* Alpine.js */
[x-cloak] {
    display: none !important;
}

.bg-dot {
    background-image: radial-gradient(circle, #d8dade 2px, transparent 2px);
    background-size: 2.5rem 2.5rem;
    background-position: 0 0;
}

.dark .bg-dot {
    background-image: radial-gradient(circle, #1e2534 2px, transparent 2px);
}

/* scroll bar */
::-webkit-scrollbar {
    height: 0.8em;
    width: 0.8em;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

#blog-post ::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

/* media embed */
iframe,
.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}
