@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .group-gradient-underline-grow {
        @apply bg-gradient-to-r from-green-500 via-emerald-500 to-teal-500 dark:from-indigo-500 dark:via-violet-500 dark:to-purple-500 bg-[length:0_3px] bg-left-bottom bg-no-repeat transition-all duration-200 ease-in group-hover:bg-[length:100%_3px];
    }

    .gradient-underline-grow {
        @apply bg-gradient-to-r from-green-500 via-emerald-500 to-teal-500 dark:from-indigo-500 dark:via-violet-500 dark:to-purple-500 bg-[length:0_3px] bg-left-bottom bg-no-repeat transition-all duration-200 ease-in hover:bg-[length:100%_3px];
    }

    .rich-text {
        @apply prose text-lg max-w-none prose-slate dark:prose-invert leading-8
            /* headings */
        prose-headings:font-medium prose-headings:text-emerald-600 dark:prose-headings:text-lividus-500
        prose-h2:border-b-2 prose-h2:border-slate-300 dark:prose-h2:border-slate-500 prose-h2:my-4 prose-h2:py-4 prose-h2:border-solid
            /* links */
        prose-a:no-underline hover:prose-a:underline prose-a:text-emerald-600 hover:prose-a:text-emerald-700
        dark:prose-a:text-lividus-400 dark:hover:prose-a:text-lividus-300
            /* lists */
        prose-li:marker:text-gray-500 dark:prose-li:marker:text-gray-400
            /* figure */
        prose-figure:table prose-figure:mx-auto
            /* image */
        prose-img:w-full prose-img:rounded-md
            /* figure */
        prose-figure:w-full
            /* figcaption */
        prose-figcaption:table-caption prose-figcaption:[caption-side:bottom] prose-figcaption:break-words
        prose-figcaption:rounded-md prose-figcaption:p-1.5 prose-figcaption:text-center prose-figcaption:bg-slate-200
        dark:prose-figcaption:bg-slate-700 dark:prose-figcaption:text-slate-100
            /* horizontal line */
        prose-hr:my-3 prose-hr:h-1 prose-hr:border-none prose-hr:bg-slate-300 dark:prose-hr:bg-slate-500
            /* code */
        prose-code:before:content-none prose-code:after:content-none prose-code:font-jetbrains-mono prose-code:font-medium
            /* pre */
        prose-pre:p-4 prose-pre:bg-neutral-800 prose-pre:rounded-lg prose-pre:text-lg dark:prose-pre:bg-neutral-900 prose-pre:border-none
            /* blockquote */
        prose-blockquote:border-emerald-400 prose-blockquote:text-slate-600 prose-blockquote:bg-emerald-100/50
        dark:prose-blockquote:border-lividus-600 dark:prose-blockquote:text-slate-400 dark:prose-blockquote:bg-lividus-800/50 prose-blockquote:py-2 prose-blockquote:pr-2 !important;
    }

    /* ckeditor5-font/theme/fontsize.css */
    .rich-text .text-tiny {
        @apply text-xs;
    }

    .rich-text .text-big {
        @apply text-2xl;
    }
}

/* Alpine.js */
[x-cloak] {
    display: none !important;
}

/* scroll bar */
::-webkit-scrollbar {
    height: 0.8em;
    width: 0.8em;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

#blog-post ::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

/* media embed */
iframe,
.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}
