/* 編輯區塊設定 */
.ck-editor__editable_inline {
    /* editing area */
    min-height: 500px;
}

/* 文章總字體更新區塊的設定 */
.update-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.update-characters {
    flex-grow: 1;
    opacity: 0.5;
}

/* 字數接近限制，將字體變成橘色 */
.characters-limit-close {
    color: #f75000;
}

/* 字數超過限制，將字體變成紅色 */
.characters-limit-exceeded {
    color: red;
}

/* Dark Mode */
/* Textarea */
/* https://stackoverflow.com/questions/69695266/how-can-i-style-ckeditor5-background-color-and-stuff */
.dark .ck.ck-editor__main > .ck-editor__editable {
    background: #374151;
}

/* Placeholder */
/* https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#styling-the-placeholder */
.dark .ck.ck-editor__editable > .ck-placeholder::before {
    color: #a1a1aa;
}

/* tagify */
.dark .tagify__input {
    --placeholder-color: #f9fafb;
    --placeholder-color-focus: #f9fafb;
    --input-color: #f9fafb;
}
