#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: linear-gradient(to right, #22c55e, #0ea5e9);
    width: 0;
    z-index: 100;
    transition: width 0.2s ease-out;
}

.dark #progress-bar {
    background: linear-gradient(to right, #ec4899, #6366f1);
}
